<header>

  <div class="content">
    <div class="menu">
      <ul class="menu_ul">
        <li class="menu_li"><a routerLink="/" routerLinkActive="active">NYHEDER</a></li>
        <li class="menu_li"><a routerLink="/about" routerLinkActive="active">INFO</a></li>
        <li class="menu_li"><a routerLink="/" routerLinkActive="active">KONTAKT</a></li>
        <li class="menu_li"><a routerLink="/" routerLinkActive="active">GALLERI</a></li>
        <li class="menu_li"><a routerLink="/" routerLinkActive="active">LINKS</a></li>
      </ul>
    </div>
  </div>
  <div class="spacer"></div>

</header>




<main>

  <router-outlet></router-outlet>

</main>
